node_modules
*.tsbuildinfo
dist
cache
artifacts
build
.openzeppelin
*.tgz
.nyc_output
coverage
.env
/examples
.idea
.node-version
.prettierrc.ts
.solhint.json
yarn-lock.json
tasks/
docs/
typechain-types/
